h1 {
    text-align: center;
    margin: 20px 0;
}
.automobiles {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.card {
    width: 320px;
    margin: 15px;
}

.card-text {
    margin-left: 15px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

@media screen and (min-width: 300px) and(max-width: 800px) {
    .automobiles {
        flex-direction: column;
    }

    .card + .card {
        margin-top: 20px; 
    }
}



